<html>
<head>
</head>
<body>
	<h1><%= title %></h1>
	<p><%= flightResults %></p>
		
</body>
</html>
	
	[
	flight.ident":"NKS301",
	flight.aircrafttype":"A321",
	flight.actualdeparturetime":0,
	flight.estimatedarrivaltime":1518277209,
	flight.filed_departuretime":1518277200,
	flight.origin":"KFLL",
	flight.destination":"KFLL",
	flight.originName":"Fort Lauderdale Intl",
	flight.originCity":"Fort Lauderdale, FL",
	flight.destinationName":"Fort Lauderdale Intl",
	flight.destinationCity":"Fort Lauderdale, FL"}
	]